[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Hibernate Maven MySQL hello world example (XML Mapping)
Type=Link
URL=http://viralpatel.net/blogs/hibernate-maven-mysql-hello-world-example-xml-mapping/
Icon=text-html
Name[fr_FR]=HibernateHelloWorldXML
