<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- Database connection settings -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/montretout</property>
		<property name="connection.username">montretout</property>
		<property name="connection.password">montretout</property>
		
		<!-- JDBC connection pool (use the built-in) -->
		<property name="connection.pool_size">1</property>
		
		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		
		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property>
		
		<!-- Disable the second-level cache  -->
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
		
		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">false</property>
		
		<property name="hbm2ddl.auto">validate</property>
		
		<!-- Envers -->
		<property name="hibernate.ejb.event.post-insert">org.hibernate.ejb.event.EJB3PostInsertEventListener,org.hibernate.envers.event.AuditEventListener</property>
		<property name="hibernate.ejb.event.post-update">org.hibernate.ejb.event.EJB3PostUpdateEventListener,org.hibernate.envers.event.AuditEventListener</property>
		<property name="hibernate.ejb.event.post-delete">org.hibernate.ejb.event.EJB3PostDeleteEventListener,org.hibernate.envers.event.AuditEventListener</property>
		<property name="hibernate.ejb.event.pre-collection-update">org.hibernate.envers.event.AuditEventListener</property>
		<property name="hibernate.ejb.event.pre-collection-remove">org.hibernate.envers.event.AuditEventListener</property>
		<property name="hibernate.ejb.event.post-collection-recreate">org.hibernate.envers.event.AuditEventListener</property>
		
		
		
		<!-- Classes -->
		<mapping class="fr.itk.sample.envers.Person"/>
		<mapping class="fr.itk.sample.envers.Address"/>
		
		
		<!-- Envers -->
		<listener class="org.hibernate.envers.event.AuditEventListener" type="post-insert"/>
		<listener class="org.hibernate.envers.event.AuditEventListener" type="post-update"/>
		<listener class="org.hibernate.envers.event.AuditEventListener" type="post-delete"/>
		<listener class="org.hibernate.envers.event.AuditEventListener" type="pre-collection-update"/>
		<listener class="org.hibernate.envers.event.AuditEventListener" type="pre-collection-remove"/>
		<listener class="org.hibernate.envers.event.AuditEventListener" type="post-collection-recreate"/>
	</session-factory>
</hibernate-configuration>