[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Software Methodologies for Distributed Systems: Client-Server Development with Eclipse, AngularJS, Java EE and Apache Tomcat
Type=Link
URL=http://smdsuniaugsburg.blogspot.fr/2014/04/how-to-setup-eclipse-for-seamless.html
Icon=text-html
Name[fr_FR]=Client-Server Development with Eclipse, AngularJS, Java EE and Apache Tomcat
